.beauty-review-info {
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beauty-review-title {
  display: flex;
  width: 174px;
  height: 24px;

  justify-content: center;
  align-items: center;
}
