.address {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.address label {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;

  /* 서브1 */
  color: #7c7c7c;
}
.address-input {
  display: flex;
  gap: 6px;
}
.address-input input {
  width: 152px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 0.5px solid #eeeeee;
}
