.career {
  display: flex;
  gap: 10px;
}
.career label {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;

  /* 서브1 */
  color: #7c7c7c;
}
.career-input {
  border-bottom: 0.5px solid #eeeeee;
  display: flex;
  gap: 6px;
}
.career-input input {
  width: 80px;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;
  border: none;
}
