.beauty-info-time {
  display: flex;
  gap: 10px;
}
.beauty-info-time label {
  font-weight: 400;
  font-size: 12px;
  display: flex;
  align-items: center;

  /* 서브1 */
  color: #7c7c7c;
}
.info-time {
  display: flex;
  gap: 8px;
}
.inputs {
  border-bottom: 0.5px solid #eeeeee;
  display: flex;
  gap: 8px;
}
.beauty-info-time input[type="time"] {
  border: none;
  font-weight: 400;
  font-size: 12px;
  width: 86px;
}
.beauty-info-time select {
  border: none;
  font-weight: 400;
  font-size: 12px;
}
.beauty-info-item {
  display: flex;
  flex-direction: column;
}
