.top-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}
.title {
  display: flex;
  width: 280px;
  height: 60px;

  background: #fff;
  border-radius: 10px;
}
.sub-menu {
  display: flex;
  width: 880px;
  height: 60px;

  background: #ffffff;
  border-radius: 10px;
}

.calender-review {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.todo-list {
  display: flex;
  width: 280px;
  height: 280px;

  background: #ffffff;
  border-radius: 10px;
}
.beauty-review {
  width: 280px;
  height: 280px;

  background: #ffffff;
  border-radius: 10px;
}

.button-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.review-one {
  width: 430px;
  height: 244px;

  background: #ffffff;
  border-radius: 10px;
}
.beauty-info {
  padding: 48px 20px;
  width: 390px;
  height: 148px;

  background: #ffffff;
  border-radius: 10px;
}
.left-all-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.all-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.week-list {
  width: 240px;
  height: 804px;
  padding: 20px;

  background: #ffffff;
  border-radius: 10px;
}
.beauty-info-items {
  display: flex;
  gap: 20px;

  flex-wrap: wrap;
}
.beauty-info-items h1 {
  font-weight: 700;
  font-size: 18px;

  display: block;
  width: 390px;
}

.beauty-info-items h2 {
  font-weight: 500;
  font-size: 16px;
}
.info-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 6px;
}
