.community-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.com-banner {
    display: flex;
    width: 700px;
    height: 260px;
    background: #ffcccc;
}

.com-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.com-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.com-menu {
    display: flex;
    justify-content: space-between;
}

.category-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.category-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #7c7c7c;
    border-radius: 6px;

    font-size: 14px;
    font-weight: 700;
    color: #7c7c7c;

    user-select: none;
    cursor: pointer;
}

.btn-active {
    background: #32B784;
    border: 0;
    color: #FFFFFF;
}

.category-line {
    width: 700px;
    height: 0;
    border: 1px solid #BBBBBB;
}
.category-list {
    display: flex;
    gap: 20px;
}

.cat-left {
    width: 180px;
    height: 40px;
    gap: 20px;
}

.cat-right {
    height: 40px;
    gap: 20px;
}

.category-sort {
    gap: 20px;
}

.category-text {
    font-size: 20px;
    font-weight: 700;
    user-select: none;
}

/* board, Headline */
.board-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.board-full {
    background: #ffffff;
    border: 1px solid #999999;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}

.headline-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    background: rgba(250, 255, 0, 0.2);
    border: 1px solid #999999;
    border-radius: 10px;

    width: 680px;
    height: 75px;
    padding: 10px;
    gap: 5px;

    cursor: pointer;
}
.board-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 680px;
    height: 140px;
    padding: 10px;
    gap: 5px;
}

.board-category {
    height: 20px;
    font-size: 14px;
    color: #999999;
}

.board-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.community-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.board-title-block {
    width: 680px;
    height: 20px;
}

.board-title-text {
    font-weight: 700;
    font-size: 16px;
}

.board-detail-block {
    width: 680px;
    height: 60px;
}

.board-detail-text {
    font-size: 14px;
    line-height: 20px;
    color: #7B7B7B;

    width: 680px;
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.bd-contains-image {
    width: 520px;
}

.text-profile-name {
    color: #888888;
}

.img-profile {
    width: 25px;
    height: 25px;
}

.board-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
}

.board-thumbnail {
    padding: 10px;
    max-width: 140px;
    max-height: 140px;
}